<!DOCTYPE html>
<html>
<head>
    <title>Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        html {
            background: #fff;
            color: #274152;
            font: 12px Arial, Helvetica, sans-serif;
        }

        div, input, form, label {
            margin: 0;
            padding: 0;
        }

        .page {
            border: 1px solid #dedede;
            background: #fff;
            border-radius: 20px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            width: 500px;
            margin: 10em auto;
            padding: 30px 42px;
            background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dedede));
            background: -moz-linear-gradient(top, #fefefe, #dedede);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #fefefe, endColorstr = #dedede, GradientType = 0);
            zoom: 1;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

        .button:hover {
            border: 1px solid #333;
        }

        .button:active {
            background-color: #fefefe;
            background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dedede));
            background: -moz-linear-gradient(top, #f4f4f4, #dedede);
            background gradient(top, #f4f4f4, #dedede);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #e9e9e9, endColorstr = #dedede, GradientType = 0);
            zoom: 1;
            padding: 1px 15px 1px 17px;
        }

        .button {
            margin: 0;
            padding: 1px 16px;
            border: 1px solid #9db2b2;
            line-height: 29px;
            background-color: #fefefe;
            /*background:#ffd48e url(../images/bg-save-btn.gif) repeat-x 0 100%;*/
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            font-size: 14px;
            color: #333;
            font-weight: bold;
            background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9e9e9));
            background: -moz-linear-gradient(top, #fefefe, #e9e9e9);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #fefefe, endColorstr = #e9e9e9, GradientType = 0);
            zoom: 1;
            cursor: pointer;
        }

        .form {
            width: 413px;
        }

        h2 {
            color: #bec4d5;
            font-size: 18px;
            font-weight: normal;
        }

        .form-label {
            font-size: 12px;
            display: block;
        }

        .form-input-text, .select, .form-input-text-half {
            margin: 6px 0 25px;
            color: #555;
            font-size: 18px;
            width: 100%;
            height: 30px;
            padding-left: 5px;
        }

        .form-input-text-half {
            width: 50%;
        }

        .button-row {
            text-align: right;
            margin: 0;
        }

        .reason {
            color: red;
            margin-bottom: 10px;
        }
    </style>

    <script type="text/javascript">
        function startup() {
            #if ($USERNAME)
                document.getElementById('j_password').focus();
            #else
                document.getElementById('j_username').focus();
            #end
        }

        function onButtonSubmit() {
            document.getElementById('submit-button').disabled = true;
            document.getElementById('form').submit();
        }
    </script>
</head>
<body onload="startup()">
<div class="page">

    <h2>Authentication</h2>

    <form action="$FORM_ACTION" method="post" id="form">

        <input type="hidden" id="$BACK_URL_NAME" name="$BACK_URL_NAME" value="$BACK_URL_VALUE">
        <input type="hidden" id="j_nonce" name="j_nonce" value="$NONCE">

        <div class="form-row">
            <label class='form-label' for="j_username">Username</label>
            <input class='form-input-text' id="j_username" name="j_username" value="$!USERNAME" maxlength="32">
        </div>

        <div class="row">
            <label class='form-label' for="j_password">Password</label>
            <input class='form-input-text' name="j_password" id="j_password" type="password" autocomplete="off" value=""
                   maxlength="32">
        </div>

        <div class="row">
            <label class='form-label' for="j_code">Verification Code</label>
            <input class='form-input-text-half' name="j_code" id="j_code" type="text" autocomplete="off" value=""
                   maxlength="6">
        </div>

        #if ( $REASON )
            <div class="reason">$REASON</div>
        #end

        <div class="button-row">
            <input type="submit" class="button" id="submit-button" value="Login" onclick="onButtonSubmit()">
        </div>
    </form>

</div>
</body>
</html>